@charset "utf-8";
/* ------------------------------
	CSSリセット、及び全HTML共通設定
------------------------------ */

/* fotterのフォント */
@import url(http://fonts.googleapis.com/css?family=Lusitana);


/* メモ：headerのパディング消す background- color を黒の半透明に color:whiteを消す
480以下の#inner のmargin 統一
　*/

html {
	cursor:url(http://morrys-box.org/scrollbar/arrow.cur),default;
	-ms-overflow-style:scrollbar;
	-ms-content-zooming:none;
	min-height:100%;
}
body {
	margin:0 auto;
	padding:0;
	font-size:12px;
	text-align:left;
	overflow-y:scroll !important;
	overflow-x:hidden !important;
	-webkit-text-size-adjust:none !important;
	/* アンチエイリアス */
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}
dl,dt,dd {
	margin:0;
	padding:0;
}
::-moz-selection { background:rgba(172,208,251,0.8); }
::selection { background:rgba(172,208,251,0.8); }

#wrap {
	margin:0 auto;
	padding:0 4px;
}
* a,input {
	outline:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
* a:hover,input:hover { cursor:url(http://morrys-box.org/scrollbar/pointer.cur),pointer; }
* a:active { background-color:transparent; } /*IE10*/

input {
	background:none;
	border-radius:0;
	-webkit-appearance:none !important;
}
body,
input { font-family:"Hiragino Kaku Gothic ProN",Meiryo,sans-serif; }

.lft { text-align:left !important; }
.rit { text-align:right !important; }
.ctr { text-align:center !important; }
.bld { font-weight:bold !important; }
.udr { text-decoration:underline; }
.red { color:#d00; }
.blu { color:#00c; }
.gry { color:#b2b2b2;}
.pnk { color:#f2c; }

img {
	border:none;
	vertical-align:bottom;
}
#table { display:table; }
#logo { display:table-cell; }
#logo img { vertical-align:baseline; -webkit-tap-highlight-color:rgba(119,119,119,0.5);}

#description { 
	display:table-cell;
	text-shadow:1px 1px 1px rgba(128,128,128,0.5);
	padding-left:1em;
	line-height:1em;
}
footer {
	color:white;
	text-align:center;
	padding:17px 0 20px;
	letter-spacing:0.13em;
	font-size:medium;
	line-height:150%;
	font-family:Lusitana,"Times New Roman","MS Mincho",serif;
}
.kadoshita {
	position:relative;
	border-radius:0 0 9px 9px;
}
.kadozen {
	position:relative;
	border-radius:9px;
}
.kadoue {
	position:relative;
	border-radius:9px 9px 0 0;
}

@media screen and (min-width:1560px){
	body {
		max-width:1440px;
	}
}
@media screen and (min-width:769px){
	body {
		min-width:812px;
	}
}
@media screen and (max-width:768px){
	br { display:none; }
	.block { display:block !important; }
/* 削除 */ .mobile,
	.mobile_br { display:inline-block !important; }
	#table { margin-top:-3px;margin-bottom:5px; }
	#logo { vertical-align:middle !important; }
	#description { vertical-align:middle; }
	.hidden { display:none; }	
	#wrap {
	/*Ad2*/	-webkit-box-sizing:border-box;
		box-sizing:border-box;
	}
}
@media screen and (max-width:640px){
	html,
	body { min-width:320px; }
	footer {
		padding:12px 0 !important;
		font-size:12px !important;
		white-space:nowrap;
	}
}
@media screen and (max-width:480px){
	#table { margin-bottom:4px; }
	#logo,
	#description { height:4em; }
	#description { padding-left:7px; }
}