body
{
    background-image: url("soso.png");
    background-size:cover;
    background-attachment: fixed;
} 
 
header{
    background: rgba(255, 255, 255, 0.5);
}
p.taitoru{
    width: 650px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mainInner{
    width: 650px;
    margin: auto;
}
footer{
    background: #000000;
}
h1{
    color:#000000;
}
.test{
    color: #F44336
}