body
{
    background-image: url("soso.png");
    background-size:cover;
    background-attachment: fixed;
} 
 
header{
    background: rgba(255, 255, 255, 0.5); 
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
h1{
    width: 650px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
span.aka{
    width: 650px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
p.syoumenn{
    text-align: center;
    color:#ffffff;
}