body
.sumahogg::before{
  background: url("t.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover contain;
  -webkit-background-size: cover contain;
  -moz-background-size: cover contain;
  -o-background-size: cover contain;
  background-attachment: fixed;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 100%;
  content: "";
  z-index: -1;
 }
