body
.sumahogg::before{
  background: url("t.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover contain;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /*background-attachment: fixed;*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 100%;
  content: "";
  z-index: -1;

 }
 header{
  background: rgba(255, 255, 255, 0.5);
  text-align:center;
  position: relative;
}
.headerInner{
  width: 750px;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color:rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align:center;
  position: relative;
}
.mainInner{
  width: 750px;
  margin: auto;
  position: relative;
}
footer{
  background: #000000;
  text-align:center;
  position: relative;
}

.footerInner{
  text-align: center;
  margin-top: 0px;
  padding: 0px;
  position: relative;
}
.headerInner,.mainInner{
  max-width: 750px;
  margin: auto;
  padding: 0px;
  padding: 0px;
  position: relative;
}
.font_test {
  color: #F44336;
  text-align: center;
  position: relative;
}
h1{
  color:#000000;
  text-align:center;
  position: relative;
}
.btn{
  border-radius: 5px;
  height:100%;
  width:750px;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
}
