body:before
{
 content:"";
  display:block;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
  width: 100vw;
  height: 100vh;
  background:url(t.png) center no-repeat;
  background-size:cover;
}
title{
  text-align: left;
  font-size: 20px;
  height: 100%;
}
